<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ue6-Karzek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D679AB161E2FA20A004AADE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D679AB2A1E2FA20B004AADE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D679AB351E2FA20B004AADE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
